.home__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .home__top_container {
    h1 {
      text-align: left;
      font: normal normal bold 32px/30px PT Sans Caption;
      letter-spacing: 0px;
      color: (var(--smoke-700));
      margin-bottom: 1rem;
      margin-top: 5rem;
    }

    p {
      text-align: left;
      font: normal normal bold 16px/24px PT Sans Caption;
      letter-spacing: 0px;
      color: (var(--smoke-700));
    }

    .home__input_container {
      display: flex;
      flex-direction: row;
     
      align-items: flex-start;
      height: 32px;
      background-color: (var--white);

      img {
        width: 30px;
      }

      input {
        margin-top: 5px;
        width: 30%;
        height: 32px;
        padding-left: 10px;
        // background: (var--white);
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        opacity: 1;

        ::placeholder {
          text-align: left;
          font: italic normal normal 14px/19px PT Sans;
          letter-spacing: 0px;
          color: (var--smoke);
          opacity: 1;
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}
