.home__footer_container {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: fixed;
  bottom: 0;

  background-color: (var(--white));
  opacity: 1;

  button {
    width: 40px;
    height: 32px;
    border-radius: 4px;
    background-color: (var(--white));
    text-decoration: none;
    color: (var(--smoke));
    border: 1px solid (var(--snow-600));

    @media (max-width: 720px) {
      width: 16px;
      height: 25px;
      padding: 2px

    }

    &:hover {
      background-color: (var(--blue));
      color: (var(--white));
    }
  }

  .home__footer_pagination {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .home__footer_pagination li + li {
    margin-left: 1rem;
  }

  .home__footer_pagination__item_active {
    background-color: (var(--blue));
    color: (var(--white));
    font-weight: bold;
    border: none;
  }

  .home__footer_pagination__item_active:focus {
    outline: none;
  }
}
